@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  cursor: default;
}

a {
  text-decoration: none;
  color: currentColor;
}

::selection {
  background-color: #D3573C;
  color: #000;
}

.wrapper {
  margin: 2rem 5rem 0rem 5rem;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    margin: 2rem auto;
    max-width: 120rem;
  }
}
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
  background-color: #FFF;
  font-size: 1.2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #901C1C;
  color: #FFF;
  border: none;
  border-radius: 3px;
  width: 10rem;
  height: 4.5rem;
  outline: none;
  transition: color 0.1s ease;
  cursor: pointer;
}
.button:hover {
  background-color: #D3573C;
  color: #000;
}
.button:focus {
  background-color: #D3573C;
  color: #000;
}
.button--like {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  background-color: transparent;
  color: #901C1C;
  border: none;
}

.card {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2.5rem;
}
.card__image {
  width: 15rem;
  height: 15rem;
  border-radius: 100px;
  object-fit: cover;
}
.card__image--page {
  width: 15rem;
  height: 15rem;
  border-radius: 100px;
  object-fit: cover;
}
.card__name {
  font-size: 2.5rem;
  font-weight: 400;
  color: #D3573C;
}
.card__location {
  color: #901C1C;
  font-weight: 400;
}
.card__price {
  color: #525252;
}
.card__tags {
  background-color: #FFF;
  border: 0.5px solid #d1d1d1;
  border-radius: 20px;
  padding: 0.1rem 0.3rem;
  font-weight: 400;
  color: #901C1C;
  margin-top: 0.25rem;
}
.card__tags:hover {
  background-color: #901C1C;
  color: #FFF;
  border: 0.5px solid transparent;
}
.card__tags:focus {
  background-color: #901C1C;
  color: #FFF;
  border: 0.5px solid transparent;
}
.card__tags:not(:last-child) {
  margin-right: 0.2rem;
}
.card__tags-container {
  display: flex;
}

.photographer-page {
  width: 100%;
}
.photographer-page__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 3rem;
}
.photographer-page__header-left {
  display: flex;
  margin-left: 4rem;
}
.photographer-page__header-left__info {
  margin-right: 2rem;
}
.photographer-page__header-right {
  margin-right: 13rem;
}
.photographer-page label {
  display: flex;
  align-items: center;
  height: 4rem;
  font-weight: 800;
  margin-right: 1.5rem;
  margin-left: 1.2rem;
}
.photographer-page__select-option {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.photographer-page__media {
  display: flex;
  flex-wrap: wrap;
}
.photographer-page__medium {
  max-width: 45rem;
  min-width: 25rem;
  height: 25rem;
  padding: 2rem;
  flex-basis: 33%;
  color: #901C1C;
}
.photographer-page__medium__element {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
  border-radius: 4px;
}
.photographer-page__medium__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.photographer-page__medium__item__info {
  display: flex;
  align-items: baseline;
  justify-content: end;
}
.photographer-page__medium__item__info__price {
  margin-right: 1rem;
}
.photographer-page__medium__item__info__likes {
  margin-right: 0.25rem;
}
.photographer-page__static-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 5rem;
  bottom: 0rem;
  padding: 1.5rem;
  background-color: #D3573C;
  color: #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 20rem;
  height: 3.5rem;
  font-size: 1.5rem;
}
.photographer-page__static-counter__like-counter {
  display: flex;
  align-items: baseline;
}
.photographer-page__static-counter__like-counter p {
  margin-right: 0.5rem;
}

.photographer-page.blur {
  filter: blur(3px);
}

.custom-select {
  position: relative;
  width: 10rem;
  display: flex;
  flex-direction: column;
  border: none;
}
.custom-select:hover {
  background-color: #D3573C;
  color: #000;
}
.custom-select:focus {
  background-color: #D3573C;
  color: #000;
}
.custom-select__trigger {
  width: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: #FFF;
  height: 4rem;
  background-color: #901C1C;
  cursor: pointer;
  border-radius: 2.5px;
}
.custom-select__trigger:hover {
  background-color: #D3573C;
  color: #000;
}
.custom-select__trigger:focus {
  background-color: #D3573C;
  color: #000;
}

.custom-options {
  position: absolute;
  display: block;
  padding: 0 10px;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  background-color: #901C1C;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.custom-options:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 12px 0px;
  color: #FFF;
  height: 4rem;
  cursor: pointer;
  text-align: left;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  transition: all 0.25s;
}
.custom-option:hover {
  background-color: #D3573C;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
}
.custom-option:focus {
  background-color: #D3573C;
  color: #000;
}

.custom-option.selected {
  color: #FFF;
  background-color: #D3573C;
  display: none;
}

.arrow {
  position: relative;
  height: 10px;
  width: 10px;
  margin-left: 1rem;
}

.arrow::before, .arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.25s;
}

.arrow::after {
  left: -2.5px;
  transform: rotate(-45deg);
  background-color: #FFF;
}

.arrow::before {
  left: 4.5px;
  transform: rotate(45deg);
  background-color: #FFF;
}

.open .arrow::after {
  left: -2.5px;
  transform: rotate(45deg);
}

.open .arrow::before {
  left: 4.5px;
  transform: rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(202, 202, 202, 0.6);
  display: none;
  z-index: 1;
}

.overlay.open {
  display: block;
}

.modal {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
  margin: auto auto;
  border-radius: 3px;
  width: 50vw;
  min-width: 32rem;
  height: 70vh;
  overflow: hidden;
}
.modal__content {
  width: 100%;
}

.modal.open {
  display: flex;
}

.photographer-page__medium__modal {
  width: 100%;
  height: 65vh;
  padding: 1rem 4rem;
}
.photographer-page__medium__modal__element {
  cursor: default;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.photographer-page__medium__modal__title {
  position: absolute;
  bottom: 2rem;
  color: #901C1C;
  font-size: 1.2rem;
}

.arrow-left {
  position: absolute;
  left: 1rem;
  top: 50%;
  font-size: 3rem;
  color: rgba(144, 28, 28, 0.9);
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.arrow-left:hover {
  font-size: 3.5rem;
}

.arrow-right {
  position: absolute;
  right: 1rem;
  top: 50%;
  font-size: 3rem;
  color: rgba(144, 28, 28, 0.8);
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.arrow-right:hover {
  font-size: 3.5rem;
}

.close {
  color: #901C1C;
  background-color: transparent;
  border: none;
  position: absolute;
  font-size: 2.5rem;
  top: 0.25rem;
  right: 1.1rem;
  cursor: pointer;
}
.close--white {
  color: #FFF;
  background-color: transparent;
  border: none;
  position: absolute;
  font-size: 2.5rem;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
}

.modal__form {
  display: none;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: auto auto;
  border-radius: 3px;
  width: 35rem;
  min-width: 30rem;
  overflow: hidden;
  background-color: #D3573C;
  padding: 1rem 2rem 3rem 2rem;
}
.modal__form__title {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.modal__form__form-content {
  display: flex;
  flex-direction: column;
}
.modal__form__form-content__label {
  font-size: 1.8rem;
}
.modal__form__form-content__input {
  padding-left: 0.5rem;
  font-size: 1.5rem;
  border-radius: 3px;
  height: 3.5rem;
  border: none;
}
.modal__form__form-content__input--message {
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  height: 10rem;
  font-size: 1.5rem;
  border-radius: 3px;
  border: none;
  margin-bottom: 2rem;
  font-family: inherit;
}
.modal__form__form-content__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #901C1C;
  color: #FFF;
  border: none;
  border-radius: 3px;
  width: 10rem;
  height: 4.5rem;
  outline: none;
  transition: color 0.1s ease;
  cursor: pointer;
}
.modal__form__form-content__button:hover {
  color: #000;
}
.modal__form__form-content__button:focus {
  color: #000;
}

.modal__form.open {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  padding: 0 6rem;
}
.header__logo {
  width: 15rem;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__nav__link {
  background-color: #FFF;
  border: 0.5px solid #d1d1d1;
  border-radius: 20px;
  padding: 0.1rem;
  font-weight: 400;
  margin-top: 0.5rem;
  color: #901C1C;
}
.header__nav__link:hover {
  background-color: #901C1C;
  color: #FFF;
  border: 0.5px solid transparent;
}
.header__nav__link:focus {
  background-color: #901C1C;
  color: #FFF;
  border: 0.5px solid transparent;
}
.header__nav__link:not(:last-child) {
  margin-right: 1rem;
}
.header__title {
  color: #901C1C;
}
.header .header__link__page {
  margin: 0;
}

.app {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    margin: 2rem auto;
    max-width: 120rem;
  }
}
@media screen and (max-width: 1050px) {
  .header {
    padding: 0 0;
  }
}
@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 100%;
    margin: 2rem 1rem 0rem 1rem;
  }

  .header__title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 700px) {
  .header {
    flex-wrap: wrap;
    margin: 0 4rem;
  }

  .header__link {
    order: 1;
  }

  .header__title {
    order: 2;
  }

  .header__nav {
    order: 3;
    flex-basis: 100%;
  }

  .app {
    justify-content: space-around;
  }

  .photographer-page__header {
    margin-top: 1.5rem;
  }

  .photographer-page__header-right {
    margin-right: 5rem;
  }
}
@media screen and (max-width: 550px) {
  .button {
    position: fixed;
    bottom: 3rem;
    left: 50vw;
    width: 15rem;
    transform: translate(-50%, -50%);
    height: 2.5rem;
    border-radius: 4px;
  }

  .photographer-page__static-counter {
    position: relative;
    margin: 2rem auto 0 auto;
    right: 0;
  }

  .photographer-page__header-right {
    margin-right: 0rem;
  }

  .photographer-page__header-left__info {
    margin-right: 0rem;
  }

  .photographer-page__header-left {
    margin-left: 0;
  }

  .photographer-page__medium {
    flex-basis: 100%;
    padding: 2rem 0;
    height: 30rem;
  }

  .photographer-page__medium__element {
    height: 27rem;
  }
}
@media screen and (max-width: 400px) {
  .header {
    flex-wrap: wrap;
    margin: 0;
  }

  .header__link {
    order: 1;
  }

  .header__title {
    order: 2;
  }

  .header__nav {
    order: 3;
    flex-basis: 100%;
  }

  .card {
    flex-basis: 100%;
  }

  .card__image--page {
    width: 10rem;
    height: 10rem;
  }

  .modal {
    height: 50vh;
  }

  .photographer-page__medium__modal__element {
    height: 68%;
  }
}
@media screen and (max-width: 360px) {
  .modal__form {
    height: 95%;
  }

  .modal__form__form-content__input--message {
    height: 15rem;
  }

  .modal__form__form-content__button {
    margin: 0 auto;
    height: 2.5rem;
    width: 50%;
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=style.css.map */
