@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  cursor: default;
}

a {
  text-decoration: none;
  color: currentColor;
  outline: none;
}

::selection {
  background-color: #D3573C;
  color: #000;
}

.wrapper {
  margin: 2rem 5rem;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
  background-color: #FFF;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #901C1C;
  color: #FFF;
  border: none;
  border-radius: 3px;
  width: 10rem;
  height: 4.5rem;
  outline: none;
  transition: color 0.1s ease;
  cursor: pointer;
}
.button:hover {
  background-color: #D3573C;
  color: #000;
}
.button:focus {
  background-color: #D3573C;
  color: #000;
}
.button--like {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  background-color: transparent;
  color: #901C1C;
  border: none;
}

.card {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2.5rem;
}
.card__general-link {
  display: contents;
}
.card__image {
  width: 15rem;
  height: 15rem;
  border-radius: 100px;
  object-fit: cover;
}
.card__name {
  font-size: 2.5rem;
  font-weight: 400;
  color: #D3573C;
}
.card__location {
  color: #901C1C;
  font-weight: 400;
}
.card__price {
  color: #525252;
}
.card__tags {
  background-color: #FFF;
  border: 0.5px solid #d1d1d1;
  border-radius: 20px;
  padding: 0.1rem 0.3rem;
  font-weight: 400;
  color: #901C1C;
  margin-top: 0.25rem;
}
.card__tags:hover {
  background-color: #901C1C;
  color: #FFF;
  border: 0.5px solid transparent;
}
.card__tags:focus {
  background-color: #901C1C;
  color: #FFF;
  border: 0.5px solid transparent;
}
.card__tags:not(:last-child) {
  margin-right: 0.2rem;
}
.card__tags-container {
  display: flex;
}

.photographer-page__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photographer-page__header-left {
  display: flex;
}
.photographer-page__header-left__info {
  margin-right: 2rem;
}
.photographer-page__media {
  display: flex;
  flex-wrap: wrap;
}
.photographer-page__medium {
  width: 20rem;
  height: 25rem;
  padding: 1rem;
  flex-basis: 25%;
  color: #901C1C;
}
.photographer-page__medium__image {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}
.photographer-page__medium__video {
  width: 35rem;
  height: 20rem;
}
.photographer-page__medium__item {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}
.photographer-page__medium__item__info {
  display: flex;
  align-items: baseline;
  justify-content: end;
}
.photographer-page__medium__item__info__price {
  margin-right: 1rem;
}
.photographer-page__medium__item__info__likes {
  margin-right: 0.25rem;
}
.photographer-page__medium__item__video {
  width: 35rem;
  display: flex;
  justify-content: space-between;
}
.photographer-page__medium__item__video__info {
  display: flex;
  align-items: baseline;
  justify-content: end;
}
.photographer-page__medium__item__video__info__price {
  margin-right: 1rem;
}
.photographer-page__medium__item__video__info__likes {
  margin-right: 0.25rem;
}
.photographer-page__static-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 0rem;
  padding: 1.5rem;
  background-color: #D3573C;
  color: #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 20rem;
  height: 3.5rem;
  font-size: 1.5rem;
}
.photographer-page__static-counter__like-counter {
  display: flex;
  align-items: baseline;
}
.photographer-page__static-counter__like-counter p {
  margin-right: 0.5rem;
}

.dropdown {
  width: 11rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #901C1C;
  border-radius: 2.5px;
  overflow: hidden;
}
.dropdown .button {
  padding-left: 1rem;
  text-align: left;
  border-radius: 0;
}
.dropdown .button i {
  margin-left: 1.5rem;
}
.dropdown .button:nth-child(2) {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
.dropdown .button:nth-child(n+2) {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}
.header__logo {
  width: 15rem;
}
.header__nav__link {
  background-color: #FFF;
  border: 0.5px solid #d1d1d1;
  border-radius: 20px;
  padding: 0.1rem;
  font-weight: 400;
  color: #901C1C;
}
.header__nav__link:hover {
  background-color: #901C1C;
  color: #FFF;
  border: 0.5px solid transparent;
}
.header__nav__link:focus {
  background-color: #901C1C;
  color: #FFF;
  border: 0.5px solid transparent;
}
.header__nav__link:not(:last-child) {
  margin-right: 1rem;
}
.header__title {
  color: #901C1C;
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
