.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color-primary;
    color: $color-white;
    border: none;
    border-radius: 3px;
    width: 10rem;
    height: 4.5rem;
    outline: none;
    transition: color .1s ease;
    cursor: pointer;
    &:hover {
        background-color: $background-color-secondary;
        color: $color-black;
    }
    &:focus {
        background-color: $background-color-secondary;
        color: $color-black;
    }

    &--like {
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        background-color: transparent;
        color: $text-color-secondary;
        border: none;
    }
    
}


