.card {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2.5rem;

    &__general-link {
        //display: contents;
    }

    &__image {
        width: 15rem;
        height: 15rem;
        border-radius: 100px;
        object-fit: cover;

        &--page {
        width: 15rem;
        height: 15rem;
        border-radius: 100px;
        object-fit: cover;
        }
    }

    &__name {
        font-size: 2.5rem;
        font-weight: 400;
        color: $text-color-primary;
    }

    &__location {
        color: $text-color-secondary;
        font-weight: 400;
    }

    &__price {
        color: $text-color-secondary-grey-dark;
    }

    &__tags {
        background-color: $color-white;
        border: 0.5px solid lighten($tags-border-color, 5%);
        border-radius: 20px;
        padding:.1rem .3rem;
        font-weight: 400;
        color: $text-color-secondary;
        margin-top : .25rem;
            &:hover {
                background-color: $background-color-primary;
                color: $color-white;
                border: 0.5px solid transparent;
            }
            &:focus {
                background-color: $background-color-primary;
                color: $color-white;
                border: 0.5px solid transparent;
            }
            &:not(:last-child) {
            margin-right: .2rem;
            }
    }

    &__tags-container {
        display: flex;
    }

    
}