.dropdown {
    width: 11rem;
    //height: 20rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: $background-color-primary;
    border-radius: 2.5px;
    overflow: hidden;
    .button {
        
        padding-left: 1rem;
        text-align: left;
        border-radius: 0;

        i {margin-left: 1.5rem;}

        &:nth-child(2) {
            border-top: 1px solid $color-white;
            border-bottom: 1px solid $color-white;
        }
        &:nth-child(n + 2) {
            display: none;
        }
    }
}

