.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(202, 202, 202, 0.6); /* color */
  display: none;
  z-index: 1;
}
.overlay.open {
 display: block;
}

.modal {
  display: none; 
  position: fixed; 
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  z-index: 10; 
  margin: auto auto;
  border-radius: 3px;
  width: 50vw; 
  min-width: 32rem;
  height: 70vh; 
  overflow:hidden;
  //background-color: rgba($color-white, 0.9);

  &__content {
    width: 100%;
  }
}

.modal.open {
    display: flex;
}

 .photographer-page__medium__modal {
    width: 100%;
    height: 65vh;
    padding: 1rem 4rem;

    &__element {
      cursor: default;
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
      border-radius: 3px;
    }

    &__title {
      position: absolute;
      bottom: 2.5rem;
      color: $text-color-secondary;
      font-size: 1.2rem;
    }
}


.arrow-left {
  position: absolute;
  left: 1rem;
  top: 50%;
  font-size: 3rem;
  color: rgba($text-color-secondary, 0.9);
  cursor: pointer;
  transition: all .2s ease-in;
  &:hover{font-size: 3.5rem;}
}

.arrow-right {
  position: absolute;
  right: 1rem;
  top: 50%;
  font-size: 3rem;
  color: rgba($text-color-secondary, 0.8);
  cursor: pointer;
  transition: all .2s ease-in;
  &:hover{font-size: 3.5rem;}
}

.close {
  color: $text-color-secondary;
  background-color: transparent;
  border:none;
  position: absolute;
  font-size: 2.5rem;
  top: .25rem;
  right: 1.1rem;
  cursor: pointer;

  &--white {
    color: $color-white;
    background-color: transparent;
    border: none;
    position: absolute;
    font-size: 2.5rem;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
  }
}

.modal__form {
  display: none; 
  position: fixed; 
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  z-index: 1; 
  margin: auto auto;
  border-radius: 3px;
  width: 35rem;
  min-width: 30rem;
  overflow:hidden;
  background-color: $text-color-primary;
  padding: 1rem 2rem 3rem 2rem;

  &__title {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }
  &__form-content {
    display: flex;
    flex-direction: column;

    &__label {
      font-size: 1.8rem;
    }
    &__input {
      padding-left: 0.5rem;
      font-size: 1.5rem;
      border-radius: 3px;
      height: 3.5rem;
      border: none;
      &--message {
        padding-left: .5rem;
        padding-top: .5rem;
        height: 10rem;
        font-size: 1.5rem;
        border-radius: 3px;
        border : none;
        margin-bottom: 2rem;
        font-family: inherit;
      }
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $background-color-primary;
      color: $color-white;
      border: none;
      border-radius: 3px;
      width: 10rem;
      height: 4.5rem;
      outline: none;
      transition: color .1s ease;
      cursor: pointer;
      &:hover {
        color: $color-black;
      }
      &:focus {
        color: $color-black;
      }
    }
    
  }
}

.modal__form.open {
  display: block;
}
