.photographer-page {
    width: 100%;
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;
        margin-top: 3rem;
    }
    &__header-left {
        display: flex;
        margin-left: 4rem;
        &__info {
            margin-right: 2rem;
        }
    }
    &__header-right {
        margin-right: 13rem;
    }
    label { 
        display: flex;
        align-items: center;
        height: 4rem;
        font-weight: 800;
        margin-right: 1.5rem;
        margin-left: 1.2rem;
    }
    &__select-option {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
    &__media {
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-around;
    }

    &__medium {
        max-width: 45rem;
        min-width: 25rem;
        height: 25rem;
        padding: 2rem;
        flex-basis: 33%;
        color: $text-color-secondary;

        &__element {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        object-position: top;
        cursor: pointer;
        border-radius: 4px;
        }

        &__item {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 1.2rem;

            &__info{
                display: flex;
                align-items: baseline;
                justify-content: end;
                
                &__price {
                    margin-right: 1rem;
                }
                &__likes {
                    margin-right: .25rem;
                }
            }
            
        }

    }
    &__static-counter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        right: 5rem;
        bottom: 0rem;
        padding: 1.5rem;
        background-color: $background-color-secondary;
        color: $color-black;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        width: 20rem;
        height: 3.5rem;
        font-size: 1.5rem;
        &__like-counter {
            p {margin-right: 0.5rem;}
            display: flex;
            align-items: baseline;
        }

    } 
}

.photographer-page.blur {
    filter: blur(3px);
}