//PRIMARY
$background-color-primary : #901C1C;
$text-color-primary : #D3573C;

//SECONDARY
$background-color-secondary: #D3573C;
$text-color-secondary-grey-light: #FAFAFA;
$text-color-secondary-grey-dark: #525252;
$text-color-secondary: #901C1C;

//BLACK & WHITE
$color-white : #FFF;
$color-black: #000;

