.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
    &__logo {
        width: 15rem;
    }

    &__nav {
 
        &__link {
        background-color: $color-white;
        border: 1px solid darken($text-color-secondary-grey-light, 15%);
        border-radius: 20px;
        padding: .1rem;
        font-weight: 400;
        color: $text-color-secondary;
            &:hover {
                background-color: $background-color-primary;
                color: $color-white;
                border: 1px solid transparent;
            }
            &:focus {
                background-color: $background-color-primary;
                color: $color-white;
                border: 1px solid transparent;
            }
            &:not(:last-child) {
            margin-right: 1rem;
            }
        }
    }
    &__title {
        color: $text-color-secondary;
    }
}